{% extends 'base.html' %}
{% load static %}
{% block content %}
    <img src="{% static 'main_page/images/logo.png' %}" alt="Cryptomus Logo" class="logo">
    <img src="{% static 'main_page/images/cryptomus_3.png' %}" alt="Cryptomus 3" class="layered-image">
    <img src="{% static 'main_page/images/cryptomus_4.png' %}" alt="Cryptomus 4" class="layered-image">
    <img src="{% static 'main_page/images/cryptomus_5.png' %}" alt="Cryptomus 5" class="layered-image">
    <img src="{% static 'main_page/images/cryptomus_1.png' %}" alt="Cryptomus 1" class="layered-image">
    <img src="{% static 'main_page/images/cryptomus_2.png' %}" alt="Cryptomus 2" class="layered-image">

    <div class="subtitle">
        Welcome to the Cryptomus Cube ecosystem!
    </div>
    <div class="description">
        Here you have fun and earn rewards at the same time. Take this incredible opportunity to collect<br>CRMS.
    </div>

    <div class="bottom-block">
        <div class="bottom-block-text">
            Take our test!
        </div>
        {% if quiz %}
        {% if user.telegram_id %}
            <a href="{% url 'quiz:quiz_view' user.telegram_id %}">
            {% else %}
            <a href="{% url 'quiz:quiz_view' 1 %}">
            {% endif %}

            <img src="{{ quiz.banner.url }}" alt="{{ quiz.title }}" class="quiz-banner">

            <div class="quiz-time-container">
                <img src="{% static 'main_page/images/vector.png' %}" alt="Timer Icon" class="quiz-time-icon">
                <div class="quiz-time-text">
                    {% if quiz.duration_in_minutes == 1 %}
                        {{ quiz.duration_in_minutes }} минута
                    {% elif quiz.duration_in_minutes < 5 %}
                        {{ quiz.duration_in_minutes }} минуты
                    {% else %}
                        {{ quiz.duration_in_minutes }} минут
                    {% endif %}
                </div>
            </div>
            <div class="quiz-title">
                Theme: {{ quiz.title }}
            </div>
        </a>
        {% endif %}
    </div>
{% endblock %}
