<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация через Telegram</title>
</head>
<body>
    <h1>Регистрация</h1>
    <p>Для регистрации нажмите на кнопку ниже, чтобы авторизоваться через Telegram.</p>

    <!-- Кнопка авторизации через Telegram -->
    <a href="{% url 'telegram_login' %}">
        <button type="button">Войти через Telegram</button>
    </a>
</body>
</html>
