<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Cryptomus Cube{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main_page/css/styles.css' %}">

</head>
<body>
    <div class="container">
        {% block content %}{% endblock %}
        <div class="footer">
        <p class="footer-title" style="white-space: nowrap;">Cryptomus on other sites</p>
        <div class="footer-block">
            <a target="_blank" rel="noopener noreferrer" href="https://x.com/cryptomus"><img src="{% static 'main_page/images/x.png' %}" alt="x" ></a>
            <a target="_blank" rel="noopener noreferrer" href="https://t.me/cryptomus"><img src="{% static 'main_page/images/tg.png' %}" alt="tg"></a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.reddit.com/user/Cryptomuscom/"><img src="{% static 'main_page/images/red.png' %}" alt="red"></a>
            <a target="_blank" rel="noopener noreferrer" href="https://instagram.com/cryptomus"><img src="{% static 'main_page/images/inst.png' %}" alt="inst"></a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/@cryptomus"><img src="{% static 'main_page/images/yt.png' %}" alt="yt"></a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/cryptomus"><img src="{% static 'main_page/images/fk.png' %}" alt="fk"></a>
            <a target="_blank" rel="noopener noreferrer" href="https://discord.gg/9vHK6R9HkQ"><img src="{% static 'main_page/images/ds.png' %}" alt="ds"></a>
        </div>
    </div>
    </div>
</body>

</html>
